body{
  background-color: #e8a3a8;
}
.container{
  height: 100vh;
  width: 95%;
  display: flex;
}
.quotes{
  background-color: #b1d3f8;
  height: 450px;
  width: 900px;
  display: flex;
  flex-direction: column;
  text-align: center;  
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 50px;
  color: #5a6567;
  border: solid 4px #faf4dc;
  margin-top: 145px;
}
.quotes p, .quotes h3{
  font-size: 2rem;
}
@media(max-width:480px){
  .quotes p, .quotes h3{
    font-size: 1rem;
  }
}
